virtueCloud:
  tunnelServer: "wss://ruzm2bkng7.execute-api.ap-south-1.amazonaws.com/prod"
  socketToken: "YOUR_VIRTUECLOUD_SOCKET_TOKEN_HERE"

dot-ai:
  kubeconfigsPVC: ""
  secrets:
    # A secure, random token used to authenticate Yogo-AI
    auth:
      token: "YOUR_SECURE_RANDOM_TOKEN_HERE"

  serviceAccount:
    create: true
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::YOUR_VIRTUECLOUD_ACCOUNT_ID:role/yogo-ai-client-YOUR_CLIENT_ID"
  
  extraEnv:
    - name: AWS_REGION
      value: "ap-south-1"

  localEmbeddings:
    enabled: true
  image:
    repository: 898896902478.dkr.ecr.ap-south-1.amazonaws.com/yogo-ai
    tag: latest

dot-ai-controller:
  kubeconfigsPVC: ""
  image:
    repository: 898896902478.dkr.ecr.ap-south-1.amazonaws.com/yogo-ai-controller
    tag: latest
