virtueCloud:
  tunnelServer: "wss://ruzm2bkng7.execute-api.ap-south-1.amazonaws.com/prod"
  socketToken: "YOUR_VIRTUECLOUD_SOCKET_TOKEN_HERE"

dot-ai:
  kubeconfigsPVC: ""
  secrets:
    # A secure, random token used to authenticate Yogo-AI
    auth:
      token: "YOUR_SECURE_RANDOM_TOKEN_HERE"
    google:
      apiKey: "YOUR_API_KEY_HERE"
  
  # Configure AI to use Google natively
  ai:
    provider: google_flash

  localEmbeddings:
    enabled: true
  image:
    repository: 898896902478.dkr.ecr.ap-south-1.amazonaws.com/yogo-ai
    tag: latest

dot-ai-controller:
  kubeconfigsPVC: ""
  image:
    repository: 898896902478.dkr.ecr.ap-south-1.amazonaws.com/yogo-ai-controller
    tag: latest
